<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for Clients</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmaps/gmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/mapStyle.css">
</head>
<body id="home">
{{> nav}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2>{{title}}</h2>
     </div>
    <div id="map" class="large"></div>
</div>

    <div class="table-responsive">
<table class="table">
    <caption><h2>Clients in your search area</h2></caption>

    <thead>
    <tr><th>Marker #</th><th>Age</th><th>Gender</th><th>Services</th><th>Times</th></tr>
    </thead>
    <tbody>
    {{#each clientsData}}
      <tr>
          <td>{{inc @index}}</td>
          <td>{{age}}</td>
          <td>{{gender}}</td>
          <td>{{service}}</td>
          <td>{{times}}</td>
      </tr>
    {{/each}}
    </tbody>

</table>
    </div>

<script>
    var clientsInfo =  {{{clients}}};
    var lat = {{lat}};
    var lng = {{lng}};
    var map;
    var miles = {{miles}};
    var radius = radiusToZoom(miles);


    map = new GMaps({
        div: '#map',
        lat: lat,
        lng: lng,
        zoom: radius
    });
    map.addMarker({
        lat: lat,
        lng: lng,
        title: 'Your Location',
        infoWindow: {
            content: '<p>Your Location</p>'
        },
        icon: 'images/mapIcons/home.png'
    }); //end of map initialize
    // place client markers
    for (i = 0; i <clientsInfo.length; i++) {
        map.addMarker({lat: clientsInfo[i].lat,
            lng: clientsInfo[i].lng,
            infoWindow:{
                content:'<span> '+clientsInfo[i].gender+', '+clientsInfo[i].age+', '+clientsInfo[i].service+', '+clientsInfo[i].times+'</span>'

            },
            icon: 'images/mapIcons/number_'+(i+1)+'.png'
        });

    }

    function radiusToZoom(radius){
        return Math.round(16-Math.log(radius)/Math.LN2);
    }
</script>
</body>
</html>